unpackaged/post/enhanced_application/flows/GrantsManagementEnhancedApplicationSample.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Adds the ContentDocumentLink record, which links this file to the new Funding Request record, to the collection of ContentDocumentLink records.</description>
        <name>AddLinkToCollection</name>
        <label>Add Link to collection</label>
        <locationX>976</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentDocumentId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the information submitted in the application to the new Funding Request record.</description>
        <name>AssignToFundingRequest</name>
        <label>Assign to Funding Request</label>
        <locationX>888</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__FundingProgram__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Applying_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Applying_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Requested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Requested_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestedFor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Population_Served__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PopulationServed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Geographical_Area_Served__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeographicalAreaServed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingRequestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertFundingRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates the ContentDocumentLink record to link this file to the new Funding Request record.</description>
        <name>CreateFileLink</name>
        <label>Create File Link</label>
        <locationX>976</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLinkToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Exit the flow if the current applicant is a user of type &quot;guest&quot;.</description>
        <name>IsLoggedInDecision</name>
        <label>Is logged in?</label>
        <locationX>712</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is logged in</defaultConnectorLabel>
        <rules>
            <name>NotLoggedInDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoginOrSignUpScreen</targetReference>
            </connector>
            <label>Not logged in</label>
        </rules>
    </decisions>
    <description>The Grants Management: Enhancement Application (Sample) is an example of an application that is designed to be completed on a single screen as opposed to multiple screens. This sample flow includes example application language, unmapped custom fields, and a file upload component. Clone this sample flow and make updates that fit your organization&apos;s needs.

        To learn more about flows, see Flows in Salesforce Help or take the Flow Basics Trailhead (https://trailhead.salesforce.com/content/learn/modules/flow-basics).</description>
    <dynamicChoiceSets>
        <name>GeographicalAreaServedChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>outfunds__Geographical_Area_Served__c</picklistField>
        <picklistObject>outfunds__Funding_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PopulationServedChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>outfunds__Population_Served__c</picklistField>
        <picklistObject>outfunds__Funding_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Safely returns the queried Contact.Account.BillingCity even if the User is not related to a Contact (for example, they aren&apos;t a site user).</description>
        <name>AccountBillingCity</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Contact.Account.BillingCity}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Safely returns the queried Contact.Account.BillingPostalCode even if the User is not related to a Contact (for example, they aren&apos;t a site user).</description>
        <name>AccountBillingPostalCode</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Contact.Account.BillingPostalCode}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Safely returns the queried Contact.Account.BillingState even if the User is not related to a Contact (for example, they aren&apos;t a site user).</description>
        <name>AccountBillingState</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Contact.Account.BillingState}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Safely returns the queried Contact.Account.BillingStreet even if the User is not related to a Contact (for example, they aren&apos;t a site user).</description>
        <name>AccountBillingStreet</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Contact.Account.BillingStreet}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.ContactId}), null, BLANKVALUE({!Contact.AccountId}, null))</expression>
    </formulas>
    <formulas>
        <description>Safely returns the queried Contact.Account.Name even if the User is not related to a Contact (for example, they aren&apos;t a site user).</description>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Contact.Account.Name}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Safely returns the queried Contact.Account.sfdo_grants__Tax_ID__c even if the User is not related to a Contact (for example, they aren&apos;t a site user).</description>
        <name>AccountTaxId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Contact.Account.%%%NAMESPACE%%%Tax_ID__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FundingRequestName</name>
        <dataType>String</dataType>
        <expression>{!FundingProgram.Name} &amp; &quot;: &quot; &amp; {!Contact.Account.Name}</expression>
    </formulas>
    <interviewLabel>Grants Management: Enhanced Application (Sample) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grants Management: Enhanced Application (Sample)</label>
    <loops>
        <description>Manually creates the ContentDocumentLink record that links the Application Attachments to the new Funding Request record.</description>
        <name>ContentDocumentId</name>
        <label>Link Files</label>
        <locationX>888</locationX>
        <locationY>926</locationY>
        <collectionReference>ContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateFileLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertFileLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Adds the ContentDocumentLink records from Application Attachments to the Funding Request record.</description>
        <name>InsertFileLinks</name>
        <label>Insert File Links</label>
        <locationX>888</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>NavigateToNewApplicationScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>InsertContentDocumentLinksErrorScreen</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates the new Funding Request record.</description>
        <name>InsertFundingRequest</name>
        <label>Insert Funding Request</label>
        <locationX>888</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>ContentDocumentId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>InsertFundingRequestErrorScreen</targetReference>
        </faultConnector>
        <inputReference>FundingRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Searches for and finds the user&apos;s Contact record to display information about that user&apos;s organization as long as the Contact is not related to the current site&apos;s self-registration Account. If the user is not a site user or the user is related to the site&apos;s self-registration Account, no record is returned.</description>
        <name>Contact</name>
        <label>Get Contact</label>
        <locationX>888</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FundingProgram</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Searches for and finds the Funding Program to generate and show the Funding Program&apos;s Name.</description>
        <name>FundingProgram</name>
        <label>Get Funding Program</label>
        <locationX>887</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmContinueToApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>outfunds__Funding_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Collects information and attachments from an applicant that are saved to a new Funding Request when submitted.</description>
        <name>Application</name>
        <label>Application</label>
        <locationX>888</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignToFundingRequest</targetReference>
        </connector>
        <fields>
            <name>ApplicantInformation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(8, 7, 7);&quot;&gt;﻿Applicant Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;First Name:&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt; {!$User.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(8, 7, 7); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Last Name:&lt;/b&gt;&lt;span style=&quot;color: rgb(8, 7, 7); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; {!$User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(8, 7, 7); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Email:&lt;/b&gt;&lt;span style=&quot;color: rgb(8, 7, 7); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; {!$User.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrganizationInformation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(8, 7, 7); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Organization Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;The following information is what we have on file for your organization. If this section is blank or incorrect, click &lt;/span&gt;&lt;b style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;Update Organization Information&lt;/b&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt; to complete or edit your organization information. Your changes will be reflected &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; when the request is processed by our organization. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;Organization Name: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!AccountName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;Street: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountBillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;City: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountBillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;State: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountBillingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;Postal Code: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountBillingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;Tax ID: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountTaxId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MyAccountButton</name>
            <extensionName>%%%NAMESPACE_OR_C%%%:flowMyAccountButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FundingRequestDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(8, 7, 7);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Funding Request Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;Complete the following fields to provide us more information about your request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AmountRequested</name>
            <dataType>Currency</dataType>
            <fieldText>Amount Requested</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the amount requested for this application.</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>AnnualOperatingBudget</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Operating Budget</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter your organization&apos;s annual operating budget.</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>StaffSize</name>
            <dataType>String</dataType>
            <fieldText>Staff Size</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the number of full-time staff members at your organization.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProposedDuration</name>
            <dataType>String</dataType>
            <fieldText>Proposed Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProposedStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Proposed Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProposedEndDate</name>
            <dataType>Date</dataType>
            <fieldText>Proposed End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RequestedFor</name>
            <fieldText>Requested For</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Provide details about why you are requesting funding. You can add additional information in the Attachments section.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PopulationServed</name>
            <choiceReferences>PopulationServedChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Population Served</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>Select one or more values that indicate what target population will benefit from this funding.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GeographicalAreaServed</name>
            <choiceReferences>GeographicalAreaServedChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Geographical Area Served</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Select which geographical area best describes where the funding will be used.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attachments</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(8, 7, 7); font-size: 18px;&quot;&gt;Attachments&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;Please upload the following attachments. Click&lt;/span&gt;&lt;b style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt; Upload Files&lt;/b&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt; or drop the files. Uploaded files display on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NarrativeFileInstructions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Narrative&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Provide a narrative about your organization that includes important information that will allow us to get to know you better, such as:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Context and rational for the request&lt;/li&gt;&lt;li&gt;Your organization&apos;s background&lt;/li&gt;&lt;li&gt;Your organization&apos;s personnel&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b&gt;Budget&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Provide a budget that gives us an idea about how the funding will be used. Include information such as:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Estimate start and end dates&lt;/li&gt;&lt;li&gt;Requested amount&lt;/li&gt;&lt;li&gt;Full project amount&lt;/li&gt;&lt;li&gt;Any additional funds from other sources&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApplicationFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Application Attachments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FundingRequest.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ApplicationNavigation</name>
            <extensionName>%%%NAMESPACE_OR_C%%%:singleScreenFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmContinueToApplication</name>
        <label>Confirm Continue To Application</label>
        <locationX>560</locationX>
        <locationY>596</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Application</targetReference>
        </connector>
        <fields>
            <name>ContinueApplicationConfirmationMessage</name>
            <fieldText>&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; to start a new application.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To view an in progress application, close this window then click &lt;b&gt;My Applications&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows if there was an error inserting ContentDocumentLink records.</description>
        <name>InsertContentDocumentLinksErrorScreen</name>
        <label>Error</label>
        <locationX>1152</locationX>
        <locationY>1502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InsertContentDocumentLinksError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(8, 7, 7);&quot;&gt;Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(8, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows if there was an error inserting the Funding Request record.</description>
        <name>InsertFundingRequestErrorScreen</name>
        <label>Error</label>
        <locationX>1416</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InsertFundingRequestError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(8, 7, 7);&quot;&gt;Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(8, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LoginOrSignUpScreen</name>
        <label>Login or Sign up</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LoginOrSignUpMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You need to &lt;/span&gt;&lt;a href=&quot;/fundingprograms/s/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;log in&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to or &lt;/span&gt;&lt;a href=&quot;/fundingprograms/s/login/SelfRegister&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;sign up&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; for an account before you can apply for funding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Navigates the user to the new Funding Request record.</description>
        <name>NavigateToNewApplicationScreen</name>
        <label>Navigate to Application</label>
        <locationX>888</locationX>
        <locationY>1502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateToApplicationMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(8, 7, 7);&quot;&gt;Saving&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NavigateToNewApplication</name>
            <extensionName>%%%NAMESPACE_OR_C%%%:flowNavigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FundingRequest.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsLoggedInDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Application for the funding program</description>
        <name>FundingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>outfunds__Funding_Request__c</objectType>
    </variables>
    <variables>
        <description>The Funding Program Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
