unpackaged/customer_enablement/share_account_and_contact_with_collaborators_flow/flows/GrantsManagementShareAccountAndContactWithCollaboratorsSample.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddApplyingContactAccountSharingToList</name>
        <label>Add Applying Contact Account Sharing to List</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>accountShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertAccountShares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddApplyingOrganizationSharingToList</name>
        <label>Add Applying Organization Sharing to List</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>accountShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShareApplyingContactAccountDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetApplyingContactAccountSharing</name>
        <label>Set Applying Contact Account Sharing</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>accountShare.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.%%%NAMESPACE%%%FundingRequest__r.outfunds__Applying_Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.%%%NAMESPACE%%%FundingRequest__r.%%%NAMESPACE%%%CollaboratorGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddApplyingContactAccountSharingToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetApplyingOrganizationSharing</name>
        <label>Set Applying Organization Sharing</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>accountShare.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.%%%NAMESPACE%%%FundingRequest__r.outfunds__Applying_Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.%%%NAMESPACE%%%FundingRequest__r.%%%NAMESPACE%%%CollaboratorGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddApplyingOrganizationSharingToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ShareApplyingContactAccountDecision</name>
        <label>Share Applying Contact Account?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>InsertAccountShares</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShareApplyingContactAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACE%%%FundingRequest__r.%%%NAMESPACE%%%CollaboratorGroupId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACE%%%FundingRequest__r.outfunds__Applying_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACE%%%FundingRequest__r.outfunds__Applying_Contact__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACE%%%FundingRequest__r.outfunds__Applying_Contact__r.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.%%%NAMESPACE%%%FundingRequest__r.outfunds__Applying_Organization__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetApplyingContactAccountSharing</targetReference>
            </connector>
            <label>Yes, share Applying Contact Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShareApplyingOrganizationDecision</name>
        <label>Share Applying Organization?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>ShareApplyingContactAccountDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShareApplyingOrganization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACE%%%FundingRequest__r.%%%NAMESPACE%%%CollaboratorGroupId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACE%%%FundingRequest__r.outfunds__Applying_Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetApplyingOrganizationSharing</targetReference>
            </connector>
            <label>Yes, share Applying Organization</label>
        </rules>
    </decisions>
    <description>Share the Applying Organization and Applying Contact&apos;s Account with Funding Request collaborators. This flow assumes your external sharing is set to Private for Accounts and Controlled by Parent for Contacts.</description>
    <interviewLabel>Grants Management: Share Account and Contact with Collaborators (Sample) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Grants Management: Share Account and Contact with Collaborators (Sample)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertAccountShares</name>
        <label>Insert Account Shares</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputReference>accountShares</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ShareApplyingOrganizationDecision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACE%%%Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>%%%NAMESPACE%%%FundRqstCollaboratorInvt__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>accountShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>contactShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactShare</objectType>
    </variables>
</Flow>
