unpackaged/post/multi_stage_app_flow/flows/GrantsManagementMultiSectionApplicationFormSample.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Gathers the information the grantseeker added in the Proposal Summary.</description>
        <name>Assign_Proposal_Summary_Fields</name>
        <label>Assign Fields</label>
        <locationX>773</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Requested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingRequestDetails_AmountRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingRequest.outfunds__Requested_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingRequestDetails_Requested_For</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFundingRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Determines which section to display to the grantseeker based on which section they click in the navigation.</description>
        <name>AssignCurrentStage</name>
        <label>Set Section to Display</label>
        <locationX>400</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>CurrentStageLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApplicationFormStageSelect</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides what section of the application to show the grantseeker.</description>
        <name>ApplicationFormStageSelect</name>
        <label>Which Section Is Displayed?</label>
        <locationX>773</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Display Default Section</defaultConnectorLabel>
        <rules>
            <name>DisplayAppOrgInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApplicantOrganizationInformationStageLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application</targetReference>
            </connector>
            <label>Display Applicant Organization Info</label>
        </rules>
        <rules>
            <name>DisplayProposalSummary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProposalSummaryStageLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProposalSummarySection</targetReference>
            </connector>
            <label>Display Proposal Summary</label>
        </rules>
        <rules>
            <name>DisplayAttachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AttachmentsStageLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attachments</targetReference>
            </connector>
            <label>Display Attachments</label>
        </rules>
        <rules>
            <name>DisplayReadOnlyDetails</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserRecordAccessMaxAccessLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FundingRequest.outfunds__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Read_Only_Application</targetReference>
            </connector>
            <label>Display Read Only Application Details</label>
        </rules>
        <rules>
            <name>Review_and_Submit_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReviewAndSubmitLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewAndSubmit</targetReference>
            </connector>
            <label>Review and Submit</label>
        </rules>
    </decisions>
    <description>The Grants Management: Multi-Section Application Form (Sample) splits an application into sections and allows a grantseeker to save and return to an in progress application. This flow includes example application language, unmapped custom fields, and a file upload component. Clone this sample flow and make updates that fit your organization&apos;s needs.
To learn more about flows, see Flows (https://help.salesforce.com/articleView?id=sf.flow.htm&amp;type=5) in Salesforce Help or take the Flow Basics Trailhead (https://trailhead.salesforce.com/content/learn/modules/flow-basics).</description>
    <formulas>
        <name>ApplicantOrganizationInformationStageLabel</name>
        <dataType>String</dataType>
        <expression>{!ApplicantOrganizationInformationStage}</expression>
    </formulas>
    <formulas>
        <name>AttachmentsStageLabel</name>
        <dataType>String</dataType>
        <expression>{!AttachmentsStage}</expression>
    </formulas>
    <formulas>
        <name>ManageFiles</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!FundingRequest.outfunds__Status__c},&quot;In Progress&quot;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>ProposalSummaryStageLabel</name>
        <dataType>String</dataType>
        <expression>{!ProposalSummaryStage}</expression>
    </formulas>
    <formulas>
        <name>ReviewAndSubmitLabel</name>
        <dataType>String</dataType>
        <expression>{!Review_and_Submit}</expression>
    </formulas>
    <interviewLabel>Grants Management: Multi-Section Application Form (Sample) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Grants Management: Multi-Section Application Form (Sample)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Checks if the grantseeker has Edit or Read-only access to the Funding Request.
If the grantseeker has Read-only access to the Funding Request, they&apos;re directed to a read-only version of the application that can&apos;t be edited.</description>
        <name>UserRecordAccess</name>
        <label>Check User’s Access</label>
        <locationX>315</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApplicationFormStageSelect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FundingRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>UserRecordAccessMaxAccessLevel</assignToReference>
            <field>MaxAccessLevel</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserRecordAccessRecordId</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Funding Request with the information added on the previous screen.</description>
        <name>UpdateFundingRequest</name>
        <label>Update Funding Request</label>
        <locationX>773</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>AssignCurrentStage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SaveErrorScreen</targetReference>
        </faultConnector>
        <inputReference>FundingRequest</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Lets the grantseeker review and update information about themselves and their organization.</description>
        <name>Application</name>
        <label>Applicant and Organization Information</label>
        <locationX>606</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateFundingRequest</targetReference>
        </connector>
        <fields>
            <name>Application_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StageNavigation</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:flowStageNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>activeStages</name>
                        <value>
                            <elementReference>$Flow.ActiveStages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStage</name>
                        <value>
                            <elementReference>CurrentStageLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>PendingStage</assignToReference>
                        <name>pendingStage</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApplicantOrganizationInformation</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Instructions&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;To be considered for this grant, please complete this application. You will have an opportunity to review your information before you submit your application&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Applicant &amp;amp; Organization Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Applicant Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;First Name&lt;/span&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Last Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Email&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿Organization Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;﻿Organization Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Tax ID&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.%%%NAMESPACE%%%Tax_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Street&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;City&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;State&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Postal Code&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingPostalCode}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UpdateOrganizationInformation</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:flowMyAccountButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SaveButton</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:flowSaveButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>FundingRequest.outfunds__Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>In progress</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FundingRequest.outfunds__Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In progress</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserRecordAccessMaxAccessLevel</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Read</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Lets the grantseeker add attachments to their application.</description>
        <name>Attachments</name>
        <label>Attachments</label>
        <locationX>914</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateFundingRequest</targetReference>
        </connector>
        <fields>
            <name>Attachments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attachments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Attachments_Nav</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:flowStageNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>activeStages</name>
                        <value>
                            <elementReference>$Flow.ActiveStages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStage</name>
                        <value>
                            <elementReference>CurrentStageLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>PendingStage</assignToReference>
                        <name>pendingStage</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Attachments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AttachmentInstructions</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Attachments&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please upload the following attachments. Click&lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;Upload Files&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;or drop the files. Uploaded files display on the next screen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Narrative&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Provide a narrative about your organization that includes important information that will allow us to get to know you better, such as:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Context and rational for the request&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Your organization&apos;s background&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Your organization&apos;s personnel&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Budget&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Provide a budget that gives us an idea about how the funding will be used. Include information such as:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Estimate start and end dates&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Requested amount&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Full project amount&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Any additional funds from other sources&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FileManager</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:fileManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>FundingRequest.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>manageFiles</name>
                        <value>
                            <elementReference>ManageFiles</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attachments_Save</name>
            <extensionName>%%%NAMESPACE_OR_C%%%:flowSaveButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Lets the grantseeker describe their proposal and indicate the amount they are requesting.</description>
        <name>ProposalSummarySection</name>
        <label>Proposal Summary</label>
        <locationX>773</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Proposal_Summary_Fields</targetReference>
        </connector>
        <fields>
            <name>ProposalSummarySection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ProposalSummarySection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingRequestDetails_Nav</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:flowStageNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currentStage</name>
                        <value>
                            <elementReference>CurrentStageLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>activeStages</name>
                        <value>
                            <elementReference>$Flow.ActiveStages</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>PendingStage</assignToReference>
                        <name>pendingStage</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ProposalSummarySection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingRequestDetailsInstructions</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;﻿Funding Request Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Complete the following fields to provide us more information about your request.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FundingRequestDetails_AmountRequested</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>FundingRequest.outfunds__Requested_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Amount Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;The amount requested&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>FundingRequestDetails_Requested_For</name>
                    <defaultValue>
                        <stringValue>{!FundingRequest.outfunds__Requested_For__c}</stringValue>
                    </defaultValue>
                    <fieldText>Requested For</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FundingRequestDetails_Save</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:flowSaveButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows a read-only version of the application if the grantseeker has Read access to the Funding Request. The grantseeker won’t be able to create or edit an application.</description>
        <name>Read_Only_Application</name>
        <label>Read-Only Application</label>
        <locationX>1043</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Read_Only_Application_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Read_Only_Application_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReadOnlyApplication_0_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Application Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;﻿Applicant Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;First Name&lt;/span&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Last Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Email&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;﻿Organization Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;﻿Organization Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Tax ID&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.%%%NAMESPACE%%%Tax_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Street&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;City&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;State&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Postal Code&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Proposal Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Requested Amount&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!FundingRequest.outfunds__Requested_Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Requested For&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Requested_For__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Population Served&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Population_Served__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Geographical Area Served&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!FundingRequest.outfunds__Geographical_Area_Served__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Application Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!FundingRequest.outfunds__Application_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FileManagerReadOnly</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:fileManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>manageFiles</name>
                        <value>
                            <elementReference>ManageFiles</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>FundingRequest.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>FundingRequest.outfunds__Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>In progress</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserRecordAccessMaxAccessLevel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Read</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Review and submit application.</description>
        <name>ReviewAndSubmit</name>
        <label>Review and Submit</label>
        <locationX>1043</locationX>
        <locationY>596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateFundingRequest</targetReference>
        </connector>
        <fields>
            <name>ReviewAndSubmit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewAndSubmit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Attachments_Nav_0</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:flowStageNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>activeStages</name>
                        <value>
                            <elementReference>$Flow.ActiveStages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStage</name>
                        <value>
                            <elementReference>CurrentStageLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>PendingStage</assignToReference>
                        <name>pendingStage</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ReviewAndSubmit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReviewAndSubmitInformation</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Application Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿Applicant Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;First Name&lt;/span&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Last Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Email&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿Organization Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;﻿Organization Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Tax ID&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.%%%NAMESPACE%%%Tax_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Street&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;City&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;State&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Postal Code&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Applying_Organization__r.BillingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Proposal Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Requested Amount&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Requested_Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Requested For&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FundingRequest.outfunds__Requested_For__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FileManager_0</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:fileManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>FundingRequest.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>manageFiles</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CannotSubmitMessage</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(215, 16, 16); font-size: 16px;&quot;&gt;We can&apos;t submit your application.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 16, 16); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Complete these required fields: &lt;/span&gt;&lt;span style=&quot;color: rgb(215, 16, 16);&quot;&gt;Amount &lt;/span&gt;&lt;span style=&quot;color: rgb(215, 16, 16); background-color: rgb(255, 255, 255);&quot;&gt;Requested.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FundingRequest.outfunds__Requested_Amount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Submit</name>
                    <extensionName>%%%NAMESPACE_OR_C%%%:communitySubmitApplicationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>FundingRequest.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FundingRequest.outfunds__Requested_Amount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shown when an error occurs saving the Funding Request.</description>
        <name>SaveErrorScreen</name>
        <label>Save Error</label>
        <locationX>528</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SaveErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Error&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>ApplicantOrganizationInformationStage</name>
        <isActive>true</isActive>
        <label>Applicant &amp; Organization Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>AttachmentsStage</name>
        <isActive>true</isActive>
        <label>Attachments</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>ProposalSummaryStage</name>
        <isActive>true</isActive>
        <label>Proposal Summary</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>Review and Submit application stage</description>
        <name>Review_and_Submit</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>ApplicationFormLauncher</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>The Application Form Launcher:
- Checks if the user is logged in.
- Handles creating a Funding Request if this flow is called from a Funding Program.
- Else, returns the queried Funding Request if called from a Funding Request.</description>
        <name>ApplicationFormLauncher</name>
        <label>Application Form Launcher</label>
        <locationX>176</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>UserRecordAccess</targetReference>
        </connector>
        <flowName>GrantsManagementApplicationFormLauncherSample</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FundingRequest</assignToReference>
            <name>OutputFundingRequest</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AppFormSubflowFaultMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CurrentStageLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DidAppFormSubflowFault</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Represents the passed in FundingRequest</description>
        <name>FundingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>outfunds__Funding_Request__c</objectType>
    </variables>
    <variables>
        <name>PendingStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Funding Request ID or Funding Program ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecordAccessMaxAccessLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecordAccessRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
